body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background-color: coral;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  background-color: rgb(29, 29, 29);
  color: coral;
  padding: 20px 66px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav-item, .logo {
  padding: 15px;
  text-decoration: none;
  color: white;
}

span, .nav-item, .logo {
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item:active,
.nav-item.active {
  color: coral;
}

.nav-item:hover, #smart, #active {
  color: coral;
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
  color: white;
}

/* DROPDOWN MENU */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 7px;
  background-color: rgb(22, 22, 22);
  min-width: 112px;
}

.dropdown-content a {
  color: white;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 18px;
}

.dropdown-content a:hover {
  color: coral;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* SEARCH */

.wrapper{
  position: absolute;
  top: 1.8%;
  left: 73%;
  transform: translate(-115%, 0);
}

.search-container{
  width: 0px;
  height: 50px;
  background: rgb(29, 29, 29);
  text-align: center;
  line-height: 30px;
  padding-right: 50px;
  transition: all 0.5s ease;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input{
  border: 0px;
  border-bottom: 2px solid coral;
  background: transparent;
  width: 0%;
  padding: 5px 0;
  outline: none;
  color: coral;
  font-weight: bold;
  transition: all 0.3s ease;
}

input::placeholder {
  color: coral;
}

.adaptive-wrap {
  position: relative;
  padding-bottom: 56.25%; 
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
  
.adaptive-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post {
  padding: 0 80px;
}

h1 {
  padding: 20px 0;
}

h2, h4, h6 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h6 {
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 20px;
}

.button {
  background-color: rgb(29, 29, 29);
  color: coral;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px; 
}

.button:hover {
  color: coral;
  background-color: rgb(41, 41, 41);
}

.username {
  background-color: rgb(51, 51, 51);
  color: rgb(241, 159, 129);
  padding: 10px;
}

.text {
  padding: 10px;
  background-color: rgb(241, 159, 129);
}

.comment {
  width: 30%;
  flex: 1 1 auto;
  margin: 0 10px;
  color: rgb(29, 29, 29);
  font-size: 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.button {
  background-color: rgb(8, 88, 8);
  color: white;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  margin-right: 15px;
}

.button:hover {
  background-color: rgb(9, 112, 9);
  color: white;
}

.edit {
  background: rgb(41, 41, 163);
}

.edit:hover {
  background-color: rgb(50, 50, 182);
}

.delete {
  background: rgb(170, 13, 13);
}

.delete:hover {
  background-color: rgb(184, 17, 17);
}

.likes {
  margin-top: -30px;
}

.like {
  font-size: 40px;
}

.like:hover {
  color: rgb(29, 29, 29);
  cursor: pointer;
}

.comment-form {
  background-color: rgb(41, 41, 41);
  border-radius: 8px;
  margin-top: 25px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 20px;
  margin-top: -10px;
  background-color: rgb(29, 29, 29);
  color: coral;
  font-size: 20px;
}

#submit {
  margin-top: 40px;
}

.category {
  display: flex;
  justify-content: space-between;
}

.delete-category {
  cursor: pointer;
}

.delete-category:hover {
  color: white;
}

.audio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 80px;
  width: 93%;
  margin-top: -40px;
  margin-bottom: 20px;
}

.child {
  width: 25%;
  margin-top: 30px;
}

h3, h5 {
  text-align: center;
  margin-left: -15%;
  padding: 0;
  padding-top: 10px;
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: 100;
}

.single-post {
  padding: 0 80px;
  min-height: 90vh;
}

.mp3 {
  margin-left: 40px;
}

.audio-main {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

#description {
  margin-top: -22px;
  margin-left: 40px;
  font-size: 24px;
}

.search {
  background-color: rgb(23, 23, 23);
  color: coral;
  font-size: 15px;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top: 2%;
  right: 12%;
  transform: translate(-115%, 0);
  border-bottom: 2px solid coral;
  font-weight: bold;
}